@model FinalProgramacion.App_Start.Models.Cargos


<link href="~/Content/estilo.css" rel="stylesheet" type="text/css" />
<h1 id="Ccrear">Eliminar</h1>

<h3 id="eli">Seguro que desea eliminar este cargo?</h3>


    <hr />
    <dl class="dl-horizontal">
        <center id="ce">
            <dt>
                @Html.DisplayNameFor(model => model.Cargo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cargo)
            </dd>
        </center>
        <br />

</dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" id="boton1" /> |
            @Html.ActionLink("Ir a la lista", "Index")
        </div>
    }
</div>
